@model RegisterViewModel
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Design Order Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- font files -->
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- /font files -->
	<!-- css files -->
	<link href="~/web/css/style.css" rel='stylesheet' type='text/css' media="all" />
	<!-- /css files -->
</head>
<body>

	<div class="content-w3ls">
		<div class="form-w3ls">
			<form  method="post">
				<div class="content-wthree1">
					<div class="form-control">
						<div class="main-row">
							<label class="header"> Admin Üye Olma Sayfası  <span>*</span></label>
							

						</div>
					</div>
					<div class="grid-agileits1">
						<div class="form-control">
							<label class="header">Adınız :<span>*</span></label>
							<input type="text" id="name" asp-for="Name"  required="">
						</div>

						<div class="form-control">
							<label class="header">Soyadınız :</label>
							<input type="text" id="name" asp-for="Surname"  required="">
						</div>
						<div class="form-control">
							<label class="header">Kullanıcı Adı :</label>
							<input type="text" id="name" asp-for="UserName"  required="">
						</div>
						<div class="form-control">
							<label class="header">Email Adresiniz :</label>
							<input type="text" id="email" asp-for="Email"   required="">
						</div>
						<div class="form-control">
							<label class="header">Şifreniz :</label>
							<input type="password" id="name" asp-for="Password"  required="">
						</div>
						<div class="form-control">
							<label class="header">Şifre Tekrar :</label>
							<input type="password" id="name" asp-for="ConfirmPassword" required="">
						</div>
					</div>
				</div>
				<div class="w3ls-btn">
					<div class="wthreesubmitaits">
						<input type="submit" asp-validation-summary="ModelOnly" value="Kayıt Ol">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>



